/* import only the necessary Bootstrap files */

@import "../bootstrap/scss/functions"; 
@import "../bootstrap/scss/variables";

/* -------begin customization-------- */

// Add Roboto Mono and Roboto at top of default font stacks

$font-family-sans-serif:      Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-monospace;

// Change base font size. All other elements use rems.

/*** Actually, fuck that, it is 16px...

$font-size-override:          18px; 

html, body {
    font-size: $font-size-override;
}

***/

// Change font weights
$headings-font-weight:        600;
$font-weight-bold:            600;

// Change heading font sizes

$h1-font-size:                $font-size-base * 3;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

// Line height

// Use Roboto Mono everywhere

body {
    font-family: $font-family-base;
}

// Colours

$theme-colors: (
  "primary": #f9db07,
  "secondary": #35a8df,
  "yellow": #f9db07,
  "blue": #35a8df,
  "teal": #35e1c9,
  "pink": #da5398
);

// Background colours

.bg-primary {
    background-color: #f9db07;
}

.bg-secondary {
    background-color: #35a8df;
}

.bg-teal {
    background-color: #35e1c9;
}

.bg-pink {
    background-color: #da5398;
}

.bg-black {
    background-color: #000;
}

/* Text formatting overrides */

a:hover {
    transition: all 0.15s ease-in-out;
}

.content {

    // Link styling

    a {
        color: $black;
        text-decoration: underline;
    } 
    a:hover {
        color: theme-color("teal");
    }

    // List styles

    ul {
        list-style-type: none;
        margin-left: -1rem;
    }

    li:before {
        content: "+";
        margin-right: 0.5rem;
    }
}

.lead {
    font-weight: 600 !important;
}

/*** Footer ***/

.tartigrade {

    height: 510px;
    width: 100%;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("../images/tardigrade_Portrait_SH.png");

    @media screen and (min-width: 768px) {
        height: 473px;
        background-image: url("../images/tardigrade_landscape_SH.png");
    }

    @media screen and (min-width: 992px) {
        height: 679px;
    }

    ul {
        list-style-type: none;
        margin-left: -2.5rem;
    }

    h3, p, li {
        margin-bottom: 1.5rem;
    }

    li:before {
        content: "+";
        margin-right: 3rem;
    }
}

footer {
    background-color: #000;
    font-size: 0.9rem;
}

footer {
    .waterbear-logo {
        width: 150px;
    }

    address {
        margin-bottom: 0;
    }

    a {
        color: #fff;
        &:hover {
            color: $teal;
        }
    }
}

.footer-menu {
        list-style-type: none;
        margin-left: -2.5rem;
        margin-bottom: 2.5rem;
    

    li {
        margin-bottom: .75rem;
    }
    li:before {
        content: "+";
        margin-right: 0.5rem;
    }
}
.footer-social-links--container {
    display: block;
}

.footer-social-links {
    list-style-type: none;
    margin-left: -2.5rem;

    li {
        display: inline;
        float: left;
        margin-right: 1rem;

    }

    a {
        display: inline-block;
        background-color: #fff;
        color: #000;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;

        &:hover {
            color: #35e1c9;
            transition: 0.3s;
        }
    }

    i {
        margin: 0.65em 0.55em;
    }
}

// Change rounded style

$enable-rounded: false;

// Remove borders on elements

.card,
.card-header {
    border: unset !important;
}

/*** Custom Components ***/

/* Brand Logos */

#site-logo,
footer .waterbear-logo {
    width: 130px;
    height: auto;
    display: block;
}

@media screen and (min-width: 768px) {
    #site-logo,
    footer .waterbear-logo {
        width: 187px;
    }
}

@media screen and (min-width: 992px) {
    #site-logo,
    footer .waterbear-logo {
        width: 227px;
    }
}

/* Navigation */

@media screen and (max-width: 991px) {

    .nav-buttons {
        display: block;
        width: 100%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        
    }

    .nav-buttons .btn {
        width: 130px;
    }

    .nav-buttons .btn-secondary {
        float: right;
    }
}
@media screen and (min-width: 992px) {
    
    .navbar {
        height: 135px;
    }

    .navbar-nav {
        font-size: 0.9rem;
    }

    .nav-buttons {
        float: right;
    }

    .nav-buttons a {
        display: block;
        margin: 0.5em 0;
    }

    .nav-buttons .btn {
        width: 130px;
        font-size: 0.9rem;
    }

    .nav-buttons .btn-secondary {
        clear: both;
        float: unset;
    }
    
}

/* Dropdown colouring */

$dropdown-bg:                       $dark;
$dropdown-link-color:               $light;
$navbar-dark-color:                 rgba($white, 1);
$navbar-dark-hover-color:           $teal;
$navbar-dark-active-color:          $teal;

$navbar-nav-link-padding-x:         .75rem;

/* CTA boxes */

.cta-box {
    position: relative;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
}

.cta-box--generic {
    @extend .cta-box;
    min-height: 250px;
    margin-bottom: 30px;
    //padding: 15px !important;
}

.cta-box--square { 
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 30px;
  position: relative;
  background-color: #555;
}

.cta-box--square-content,
.cta-box--generic-content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.cta-box button,
.cta-box a {
    position: absolute;
    bottom: 2.5rem;
    right: 1rem;
}

.cta-box--square a {
    right: 1.5rem;
}

.cta-box a:not(.btn) {
    color: #fff;
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {
    .cta-box--fullwidth {
        height: 454px;
    }
}

/*** Colour Overlays ***/

.colour-overlay:before {
    content:"";
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: rgba(0,0,0,0.5);
}

.colour-overlay--primary:before {
    @extend .colour-overlay:before;
    background: rgba(250,220,8,0.5)
}

.colour-overlay--secondary:before {
    @extend .colour-overlay:before;
    background: rgba(53,168,223,0.5)
}

.colour-overlay--teal:before {
    @extend .colour-overlay:before;
    background: rgba(53,225,201,0.5)
}

.colour-overlay--pink:before {
    @extend .colour-overlay:before;
    background: rgba(218,83,152,0.5)
}

/* Multiply versions for modern browsers */

.multiply {
    background-blend-mode: multiply;
}

.multiply-black {
    @extend .multiply;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
}

.multiply-primary {
    @extend .multiply;
    background-color: #f9db07 !important;
}

.multiply-secondary {
    @extend .multiply;
    background-color: #35a8df !important;
}

.multiply-teal {
    @extend .multiply;
    background-color: #35e1c9 !important;
}

.multiply-pink {
    @extend .multiply;
    background-color: #da5398 !important;
}

/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */

@import "../bootstrap/scss/bootstrap";