/* import only the necessary Bootstrap files */

@import "../bootstrap/scss/functions"; 
@import "../bootstrap/scss/variables";

/* -------begin customization-------- */

// Add Roboto Mono and Roboto at top of default font stacks

$font-family-sans-serif:      Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-monospace;

// Change base font size. All other elements use rems.

/*** Actually, fuck that, it is 16px...

$font-size-override:          18px; 

html, body {
    font-size: $font-size-override;
}

***/

// Change font weights
$headings-font-weight:        600;
$font-weight-bold:            600;

// Change heading font sizes

$h1-font-size:                $font-size-base * 3;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

// Line height

// Use Roboto Mono everywhere

body {
    font-family: $font-family-base;
}

// Colours

$theme-colors: (
  "primary": #f9db07,
  "secondary": #35a8df,
  "yellow": #f9db07,
  "blue": #35a8df,
  "teal": #35e1c9,
  "pink": #da5398
);

// Link styling

.content {
    a {
        color: $black;
        text-decoration: underline;
    } 
    a:hover {
        color: theme-color("teal");
    }

    ul {
        list-style-type: none;
        margin-left: -1rem;
    }

    li:before {
        content: "+";
        margin-right: 0.5rem;
    }
}



// List styles



// Change rounded style

$enable-rounded:                              false;

// Remove borders on elements

.card,
.card-header {
    border: unset !important;
}

/*** Custom Components ***/

.cta-box {
    position: relative;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
}

.cta-box--generic {
    @extend .cta-box;
    padding: 15px !important;
}

.cta-box--square { 
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background-color: #555;
}

.cta-box--square-content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.cta-box button,
.cta-box a {
    position: absolute;
    bottom: 2.5rem;
    right: 1rem;
}

.cta-box--generic a {
    text-decoration: underline;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .cta-box--fullwidth {
        height: 454px;
    }
}

/*** Colour Overlays ***/

.colour-overlay:before {
    content:"";
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: rgba(0,0,0,0.5);
}

.colour-overlay--primary:before {
    @extend .colour-overlay:before;
    background: rgba(250,220,8,0.5)
}

.colour-overlay--secondary:before {
    @extend .colour-overlay:before;
    background: rgba(53,168,223,0.5)
}

.colour-overlay--teal:before {
    @extend .colour-overlay:before;
    background: rgba(53,225,201,0.5)
}

.colour-overlay--pink:before {
    @extend .colour-overlay:before;
    background: rgba(218,83,152,0.5)
}

/* Multiply versions for modern browsers */

.multiply {
    background-blend-mode: multiply;
}

.multiply-black {
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
}

.multiply-primary {
    @extend .multiply;
    background-color: #f9db07 !important;
}

.multiply-secondary {
    @extend .multiply;
    background-color: #35a8df !important;
}

.multiply-teal {
    @extend .multiply;
    background-color: #35e1c9 !important;
}

.multiply-pink {
    @extend .multiply;
    background-color: #da5398 !important;
}

/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */

@import "../bootstrap/scss/bootstrap";